<nav class="navbar bg-danger">
    <div class="container-fluid" id="header">
        <a class="navbar-brand" [routerLink]="['/welcome']">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Pok%C3%A9_Ball_icon.svg" alt="Pokeball" width="50">
            <span>&nbsp; Pokémon Quiz</span>
        </a>
          
    </div>
</nav>

<div id="images">
    <img src="/assets/pngkey.com-dot-png-249104.png" width="40" style="margin-left: 35px; margin-bottom: 10px;">
    <img src="https://www.freepnglogos.com/uploads/dot-png/file-location-dot-red-svg-wikipedia-0.png" width="20" style="margin-left: 5px; margin-bottom: 10px;">
    <img src="https://www.freepnglogos.com/uploads/dot-png/dot-hole-cavendish-golf-club-award-winning-golf-club-2.png" width="20" style="margin-left: 5px; margin-bottom: 10px;">
    <img src="https://www.freepnglogos.com/uploads/dot-png/dot-system-status-and-maintenance-schedule-beachboard-3.png" width="20" style="margin-left: 5px; margin-bottom: 10px;">
</div>
